html{
    background-image: url("bg.jpg");
}

.container__header{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    width: 100vw;
    height: 3vw;
    top: 0;
    z-index: 10;
}

.container__header a{
    padding: .75rem 3rem;
    text-decoration: none;
    color: #fff;
}

.container__header a:hover{
    color: black;
    background-color: #fff  ;
}

.container__sobre{
   position: relative;
   top: 4vw;
   text-align: center;
   padding: 5rem;
   padding-top: 0;
   font-size: 1.1rem;
   color: #fff;
   line-height: 1.1em;
   width: 80vw;
}

.container__sobre img{
    width: 50vw;
}

.container__mapa .titulo-principal{
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 2em;
}

.container__mapa p{
    font-size: 1.2em;
}

.container__mapa{
    text-align: center;
    color: #fff;
    line-height: 2em;
}

.beneficios{
    color: #fff;
    text-align: center;
}

.beneficios .titulo-principal{
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 2rem;
}

.conteiner-beneficios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.conteiner-beneficios p:hover{
    border-bottom: 1px solid #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

footer{
    color: #fff;
    text-align: center;
    padding: 3rem;
}